<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.vn.hcmute.team.cortana.mymoney">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".MyMoneyApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <!-- Facebook SDK -->
    <meta-data
      android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/facebook_app_id" />

    <activity
      android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
      android:label="@string/app_name"
      android:name="com.facebook.FacebookActivity" />
    <activity
      android:exported="true"
      android:name="com.facebook.CustomTabActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="@string/fb_login_protocol_scheme" />
      </intent-filter>
    </activity>

    <!-- User -->
    <activity
      android:configChanges="orientation"
      android:name=".ui.login.LoginActivity"
      android:screenOrientation="portrait" />
    <activity
      android:launchMode="singleTop"
      android:name=".ui.register.RegisterActivity"
      android:screenOrientation="portrait" />

    <activity
      android:launchMode="singleTop"
      android:name=".ui.forgetpassword.ForgetPasswordActivity"
      android:screenOrientation="portrait" />

    <!-- Main -->
    <activity

      android:configChanges="orientation"
      android:name=".ui.main.MainActivity"
      android:screenOrientation="portrait" />

    <!-- Wallet -->
    <activity
      android:configChanges="orientation"
      android:name=".ui.wallet.SelectWalletActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.wallet.AddWalletActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.wallet.EditWalletActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.wallet.MyWalletActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.wallet.TransferMoneyActivity"
      android:screenOrientation="portrait" />
    <!-- Saving -->

    <activity
      android:configChanges="orientation"
      android:name=".ui.saving.AddSavingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.saving.TransferMoneySavingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.saving.InfoSavingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.saving.EditSavingActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.saving.TransactionSavingActivity"
      android:screenOrientation="portrait" />
    <!--Budget-->
    <activity
      android:configChanges="orientation"
      android:name=".ui.budget.AddBudgetActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.budget.EditBudgetActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.budget.InfoBudgetActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.budget.TransactionBudgetActivity"
      android:screenOrientation="portrait" />

    <!-- Event -->
    <activity
      android:configChanges="orientation"
      android:name=".ui.event.ActivityInfoEvent"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.event.ActivityEditEvent"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.event.ActivityAddEvent"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.event.ActivitySelectEvent"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.event.TransactionEventActivity"
      android:screenOrientation="portrait" />

    <!-- Person -->
    <activity
      android:configChanges="orientation"
      android:name=".ui.person.PersonActivity"
      android:screenOrientation="portrait" />

    <!-- Currency -->
    <activity
      android:configChanges="orientation"
      android:name=".ui.currencies.CurrenciesActivity"
      android:screenOrientation="portrait" />

    <!-- Tool -->
    <activity
      android:configChanges="orientation"
      android:name=".ui.tools.galleryloader.ui.GalleryLoaderActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.iconshop.SelectIconActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.tools.calculator.CalculatorActivity"
      android:screenOrientation="portrait" />
    <!-- Category -->
    <activity
      android:configChanges="orientation"
      android:name=".ui.category.CategoryActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.category.ManagerCategoryActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.category.ListParentCategoryActivity"
      android:screenOrientation="portrait" />

    <!-- Transaction -->

    <activity
      android:configChanges="orientation"
      android:name=".ui.transaction.ManagerTransactionActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.transaction.InforTransactionActivity"
      android:screenOrientation="portrait" />
    <!-- Debt & Loan -->
    <activity
      android:configChanges="orientation"
      android:name=".ui.transaction.InforTransactionForDebtLoanActivity"
      android:screenOrientation="portrait" />
    <!--Statistic-->
    <activity
      android:configChanges="orientation"
      android:name=".ui.statistics.transaction.TransactionStatisticsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.settings.SettingsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:configChanges="orientation"
      android:name=".ui.welcome.WelcomeActivity"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>